html, body{
    height: 100%;
    background-color: #f6f7f9;
    margin:0;
  }

  body{
    background-color: aliceblue;
  }
  
  header {
      display: flex;                      
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      text-shadow: 5px 5px 5px 5px;
    }
  
  .background-wrapper{
      background-image:url(Whitesand.jpg) ;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
       border-radius: 0 0 10px 10px;
       padding: 0;
       height: 70%;
       box-shadow: 0 7px 12px rgba(0, 0, 0, 0.5);
    }
  
  
  h1{
    margin-left: 275px;
    color:#0A0A0A;
    font-style: italic;
    font-size: 2.5rem;
    text-align: center;
  }

  h1 span{
    font-size: 2.0rem;
    display: block;
  }

  #Adi{
    text-decoration: none;
  }

  #Adi:Hover{
    transform: scale(1.2);
    color: lime;
  }

  
  .navi ul{
    list-style: none;
    margin-right: 175px;
    padding: 15px;
    display: flex;
  }
  
  .navi ul li{
    margin: 20px;
  
  }

  .navi a{
    text-decoration: none;
    color:#0A0A0A;
    font-size: 1.3rem;
  }
  
  .navi :hover{
    color:lime;
  }

  .navi a:hover{
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
  }

  #TheProjects{
    padding: 20px;
    display:flex;
    flex-direction: row;
    font-family: 'VT323', monospace;
    background-color: azure;
  }

  #TheProjects ul{
  }

  #TheProjects ul li{
    border: 4px;
    border-radius: 4px;
    padding: 15px;
    margin: 50px;
  }

  #TheProjects ul li a{
    font-size: 2.0rem;
    text-decoration: none;
    color: #00ff00;
  }

  #TheProjects ul li:hover{
    transform: scale(1.1);
  }
