html, body{
    height: 100%;
    background-color: black;
    margin:0;
  }
  
  header {
      display: flex;                      
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      text-shadow: 5px 5px 5px 5px;
    }
  
  .background-wrapper{
      background-image:url(Blackcurrent.jpg) ;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
       border-radius: 0 0 10px 10px;
       padding: 0;
       height: 70%;
       box-shadow: 0 7px 12px rgba(0, 0, 0, 0.5);
    }
  
  
  h1{
    margin-left: 275px;
    color: aliceblue;
    font-style: italic;
    font-size: 2.5rem;
    text-align: center;
  }

  h1 span{
    font-size: 2.0rem;
    display: block;
  }

  #Adi{
    text-decoration: none;
  }

  #Adi span{
    color: #00ff00;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
  }

  #Adi:Hover{
    transform: scale(1.2);
    color: lime;
  }

  
  .navi ul{
    list-style: none;
    margin-right: 175px;
    padding: 15px;
    display: flex;
  }
  
  .navi ul li{
    background: linear-gradient(45deg, #fff000, #00ff00);
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 0 5px rgba(33, 63, 31, 0.717), 
                0 0 10px rgba(0, 255, 8, 0.7);
    transition: 0.3s;
    margin: 15px;

  }

  .navi a{
    text-decoration: none;
    color:black;
    opacity: 1.0;
    font-family: 'Playfair Display', serif;
  }
  
  .navi :hover{
    color:lime;
  }

  .navi a:hover{
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
  }

  .navi ul li:hover{
    scale:1.2;
  }

  #TheProjects{
    padding: 20px;
    display:flex;
    flex-direction: row;
    font-family: 'VT323', monospace;
    background-color: black;
    text-align: left;
  }


  #TheProjects ul li{
    border: 4px;
    border-radius: 15px;
    padding: 100px;
    margin: 50px;
    background-color: #000f0f;
    opacity: 0.8;
  }

  #TheProjects ul li a{
    font-size: 2.0rem;
    text-decoration: none;
    color: #00ff00;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
  }

  #TheProjects ul li:hover{
    transform: scale(1.1);
  }

